.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 3px;
    width: 300px;
    height: 300px;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: blue;
}

.invader { 
    background-color: rgb(0, 128, 21);
    border-radius: 10px;
}

.boom {
    background-color: red;
}

.laser {
    background-color: rgb(8, 6, 0);
}
     